<div id="mensaje2" class="alert alert-success " style="display: none">
  <strong> <p class="padd-top" id="mensaje"></p></strong>
</div>
<br>

<div id="labelCrearUsuario"><h2>Registrar Usuario</h2></div><br>


<form id="formulario" class="form-signin" [formGroup]="createUser" >
  <div class="form-container" >
    <label >Nombre:</label> <input formControlName="firstname" type="text" class="form-control col-lg-3 col-md-3 col-xs-12" placeholder="Ingrese Nombres">
  </div>
  <div class="form-container" >
    <label >Apellido:</label> <input formControlName="lastname" type="text" class="form-control col-lg-3 col-md-3 col-xs-12" placeholder="Ingrese Apellidos" >
  </div>
  <div class="form-container" >
    <label >Email:</label> <input formControlName="email" type="text" class="form-control col-lg-3 col-md-3 col-xs-12" placeholder="Ingrese un email">
  </div>
  <div class="form-container" >
    <label >Contraseña::</label> <input formControlName="password" type="password" class="form-control col-lg-3 col-md-3 col-xs-12" placeholder="Ingrese una contraseña" >
  </div>
  <div class="form-container" >
    <label >Direccion:</label> <input formControlName="address" type="text" class="form-control col-lg-3 col-md-3 col-xs-12" placeholder="Direccion" >
  </div>
  <div class="form-container" >
    <label >Cumpleaños:</label> <input formControlName="birthdate" type="text" class="form-control col-lg-3 col-md-3 col-xs-12" placeholder="Cumpleaños"  >
  </div>
  <div class="form-container" >
    <label >Pais:</label> <input formControlName="city" type="text" class="form-control col-lg-3 col-md-3 col-xs-12" placeholder="Ingrese un Pais"  >
  </div>
  <div class="form-container" >
    <label >Ciudad:</label> <input formControlName="country" type="text" class="form-control col-lg-3 col-md-3 col-xs-12" placeholder="Ingrese una ciudad" >
  </div>
  <div class="form-container" >
    <label >Celular:</label> <input formControlName="phone" type="text" class="form-control col-lg-3 col-md-3 col-xs-12" placeholder="Ingrese un celular"  >
  </div>
  <div class="form-container" >
    <label >Estado:</label> <input formControlName="state" type="text" class="form-control col-lg-3 col-md-3 col-xs-12" placeholder="Ingrese un estado"  >
  </div>
  <div class="form-container">
    <button  type="submit"  class="btn btn-primary btn-lg" (click)="createUserRapisolver()">Agregar</button>
    <br>
    <br>
    <a routerLink="" class="enu" style="color:#000000">No , gracias</a>
  </div>
</form>
