<div id="mensaje2" class="alert alert-success " style="display: none">
  <strong> <p class="padd-top" id="mensaje"></p></strong>
</div>
<br>
<div id="labelCrearUsuario"><h2>Editar Servicio</h2></div><br>
<form id="formulario" >
  <div class="form-group" >
    <label >Nombre:</label> <input  type="text" id="lbl1" class="form-control col-lg-3 col-md-3 col-xs-12"  placeholder="Ingrese nombre del servicio"  v-model="servicio.name" minlength="5" maxlength="40" required pattern="[A-Za-z]+">
  </div>
  <div class="form-group" >
    <label >Descripción:</label> <br><textarea id="lbl2" class="form-control col-lg-3 col-md-3 col-xs-12" name="comentarios" rows="10" cols="40" v-model="servicio.description" minlength="5" maxlength="100" required pattern="[A-Za-z]+">Escribe aquí tus comentarios</textarea>
  </div>
  <div class="form-group" >
    <label >Costo:</label> <input type="text" id="lbl3" class="form-control col-lg-3 col-md-3 col-xs-12" placeholder="Ingrese el costo del servicio" v-model="servicio.cost" >
  </div>
  <div class="form-group" >
    <label >Categoría:</label><br>
    <select class="browser-default custom-select form-control col-lg-3 col-md-3 col-xs-12" v-model="servicio.categoryName">
      <option selected >Selección la categoría</option>
      <option  v-for="categoria in categorias" :key="categoria.serviceCategoryId">categoria.categoryName</option>
    </select>
  </div>
  <div class="form-group" >

  </div>
  <button type="submit" class="btn btn-primary">Editar</button>
</form>

