<div id="mensaje2" class="alert alert-success " style="display: none">
  <strong> <p class="padd-top" id="mensaje"></p></strong>
</div>
<div id="mensaje4" class="alert alert-danger " style="display: none">
  <strong> <p class="padd-top" id="mensaje3"></p><a href=""> aqui</a></strong>
</div>
<div id="labelCrearUsuario"><h2>Registrar Servicio</h2></div><br>
<form [formGroup]="createForm">
  <div class="mat-form-field">
    <mat-form-field appearance="fill">
      <mat-label>Nombre:</mat-label>
      <input matInput formGroupName="nombre" >
    </mat-form-field>
  </div>

  <label >Nombre:</label>
  <div class="form-container" >
    <label >Descripción:</label>
    <br><textarea  formControlName="description" placeholder="Escribe aquí tus comentarios"></textarea>
  </div>
  <div class="form-container" >
    <label >Costo:</label>
    <input type="number" formControlName="costo" placeholder="Ingrese el costo del servicio" />
  </div>

    <mat-label >Categoría:</mat-label><br>
    <mat-form-field appearance="fill" class="form-container">
      <mat-label>Choose an option</mat-label>
      <mat-select >
        <mat-option *ngFor="let category of categories">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  <div class="form-group" >



  </div>
  <button id="envio" type="submit"  style="background-color:#fed136" class="btn btn-light" >">Agregar</button>
</form>
