okok
<div id="mensaje2" class="alert alert-success " style="display: none">
  <strong> <p class="padd-top" id="mensaje"></p></strong>
</div>
<br>

<div id="labelCrearUsuario"><h2>Registrar Usuario</h2></div><br>


<form id="formulario" class="form-signin" [formGroup]="createForm" >
  <div class="form-container" >
    <label >Nombre:</label> <input formControlName="nombre" type="text" class="form-control col-lg-3 col-md-3 col-xs-12" placeholder="Ingrese Nombres" >
  </div>
  <div class="form-container" >
    <label >Descripcion:</label> <input formControlName="description" type="text" class="form-control col-lg-3 col-md-3 col-xs-12" placeholder="Ingrese Descripcion del servicio" >
  </div>
  <div class="form-container" >
    <label >Costo:</label> <input formControlName="costo" type="number" class="form-control col-lg-8 col-md-3 col-xs-12" placeholder="$/0">
  </div>
  <div class="form-container" >
    <label >Categoria:</label> <input formControlName="categoria" type="text"  class="form-control col-lg-8 col-md-3 col-xs-12" placeholder="nombre categoria">
  </div>

  <div class="form-container">
    <button  type="submit"  class="btn btn-primary btn-lg" (click)="createService()">Agregar</button>
    <br>
    <br>
    <a routerLink="" class="enu" style="color:#000000">No , gracias</a>
  </div>
</form>
