:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

body {
  background: #007bff;
  background: linear-gradient(to right, #f1e784, #faf8ee);
}
.btn-primary {
  color: #fff;
  background-color: #fed136;
  border-color: #fed136;
}
.btn-info {
  color: #fff;
  background-color: #fed136;
  border-color: #fed136;
}
