<div id="mensaje2" class="alert alert-success " style="display: none">
  <strong> <p class="padd-top" id="mensaje"></p></strong>
</div>
<div id="mensaje4" class="alert alert-danger " style="display: none">
  <strong> <p class="padd-top" id="mensaje3"></p><a href=""> aqui</a></strong>
</div>
<div id="labelCrearUsuario"><h2>Registrar Servicio</h2></div><br>
<form id="formulario" [formGroup]="form">
  <div class="form-group" >
    <label >Nombre:</label> <input type="text" id="label1" class="form-control col-lg-3 col-md-3 col-xs-12" placeholder="Ingrese nombre del servicio" id="nombre" minlength="5" maxlength="40" required pattern="[A-Za-z]+">
  </div>
  <div class="form-group" >
    <label >Descripción:</label> <br><textarea  id="label2" class="form-control col-lg-3 col-md-3 col-xs-12" id="description" rows="10" cols="40" minlength="5" maxlength="100" placeholder="Escribe aquí tus comentarios"></textarea>
  </div>
  <div class="form-group" >
    <label >Costo:</label> <input type="text" id="label3" class="form-control col-lg-3 col-md-3 col-xs-12" id="costo" placeholder="Ingrese el costo del servicio" >
  </div>
  <div class="form-group" >
    <label >Categoría:</label><br>
    <select id="label4" class="browser-default custom-select form-control col-lg-3 col-md-3 col-xs-12" id="categoria">
      <option selected >Selección la categoría</option>
      <option :key="categoria.serviceCategoryId">Categoria.categoryName</option>
    </select>
  </div>
  <div class="form-group" >

  </div>
  <button id="envio" type="submit"  style="background-color:#fed136" class="btn btn-light">Agregar</button>
</form>
